[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''
elseif not v.boss.showdown and (v.boss.min <= math.max(1, G.GAME.round_resets.ante) and ((math.max(1, G.GAME.round_resets.ante))%G.GAME.win_ante ~= 0 or G.GAME.round_resets.ante < 2)) then
'''
position = "at"
payload = '''
elseif not v.boss.showdown and ((not v.boss.min or (v.boss.min <= math.max(1, G.GAME.round_resets.ante))) and (not v.boss.max or (v.boss.max >= G.GAME.round_resets.ante)) and ((math.max(1, G.GAME.round_resets.ante))%G.GAME.win_ante ~= 0 or G.GAME.round_resets.ante < 2)) then
'''
match_indent = true