[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = '''
(not self.needs_enable_flag or G.GAME.modifiers['enable_'..self.key])
'''
position = "at"
payload = '''
(not self.needs_enable_flag or (G.GAME.modifiers['enable_'..self.key] or G.GAME.modifiers['enable_'..self.key..'s_in_shop']))
'''
match_indent = true